# Configuration file

####################
# block
####################

block {
    # Factorization Machines.
    I:factoryBlockId=1750

    # WrathFire and invisible lamp-air made by WrathLamps
    I:lightAirBlockId=1751

    # Ores and metal blocks mostly
    I:resourceBlockId=1752
}


####################
# client
####################

client {
    B:allowUnpureCommands=true

    # Lets you use the bag from GUIs
    B:anywhereBagSwap=true

    # Lets you open the pocket crafting table from GUIs
    B:anywherePocketCraft=true

    # Show invisible lamp-air
    B:debugLightAir=false

    # If true, enables a thread that dumps a stack trace of Minecraft if it is paused for longer than lagWatchDogInterval
    B:enableLagWatchDog=false

    # If the game is stuck for longer than this amount of time (in seconds), dump a stacktrace of what it is doing.
    D:lagWatchDogInterval=0.25

    # Sets a lower bound on time dilation. Between 0 and 1.
    D:lowestTimeDilation=0.8999999761581421

    # If true, notifications are put in the chat log instead in the world
    B:notifyInChat=false

    # 3 keys for: removing (x), cycling (c), balancing (b)
    S:pocketCraftingActionKeys=xcb

    # If false, never use smooth lighting for drawing sculptures
    B:renderAmbientOcclusion=true

    # If true, render barrel info only when nearby
    B:renderBarrelClose=false
    B:renderBarrelItem=true
    B:renderBarrelText=true

    # If false, most TEs won't draw, making everything look broken but possibly improving FPS
    B:renderOtherTileEntities=true

    # If this is enabled, the client will run as slowly as the server does. This avoids visual artifacts on laggy servers.
    B:useTimeDilation=true
}


####################
# dimensionslices
####################

dimensionslices {
    # work in progress; may be unstable
    B:enableDimensionSlices=false
}


####################
# general
####################

general {
    B:addBranding=false
    I:entityRelightTask=3

    # This disables silver ore generation
    B:generateSilverOre=false

    # Filename on the Java classpath with the localizations
    S:languageFile=/mods/factorization/en_US.lang

    # The size of silver ore nodes. Between 5 & 35. Default is 25
    I:silverOreNodeSize=25
}


####################
# item
####################

item {
    I:acid=17324
    I:actuatorItemManipulator=17356
    I:angularSaw=17342
    I:bagOfHolding=17301
    I:barrelEnlarge=17332
    I:battery=17333
    I:chargemeter=17329
    I:coil=17326
    I:darkIron=17308
    I:darkIronSprocket=17354
    I:diamondCuttingHead=17338
    I:diamondShard=17306
    I:fan=17328
    I:glazeBucket=17355
    I:heatHole=17346
    I:inverium=17340
    I:itemCraftId=17300
    I:leadIngot=17314
    I:logicMatrix=17344
    I:logicMatrixID=17345
    I:logicMatrixProgrammer=17343
    I:magnet=17325
    I:mechaBouyantBarrel=17321
    I:mechaChasis=17309
    I:mechaChest=17311
    I:mechaCobbleDrive=17322
    I:mechaFoot=17313
    I:mechaHead=17310
    I:mechaLeg=17312
    I:mechaMountedPiston=17323
    I:mechaSpring=17347
    I:mirror=17330
    I:motor=17327
    I:netherPowder=17350
    I:oreCleanGravel=17335
    I:oreCrystal=17337
    I:oreDirtyGravel=17334
    I:oreReduced=17336
    I:pocketCraftingTable=17302
    I:routerEject=17331
    I:routerItemFilter=17316
    I:routerMachineFilter=17317
    I:routerSpeed=17318
    I:routerThorough=17319
    I:routerThroughput=17320
    I:sculptTool=17341
    I:servoMotor=17357
    I:servoMotorPlacer=17358
    I:servoWidgetDecor=17359
    I:servoWidgetInstruction=17360
    I:silverIngot=17315
    I:sludge=17339
    I:steam=17349
    I:wandOfCooling=17305
    I:wrathIgniter=17307
}


####################
# pocketcraftingactionkeys
####################

pocketcraftingactionkeys {
    # 4 keys for: removing (x), cycling (c), balancing (b), filling (f)
    S:client=xcbf
}


####################
# server
####################

server {
    # This is a Java Regex to blacklist router access
    S:bannedRouterInventoriesRegex=

    # If false, water must be piped in
    B:boilersSuckWater=true

    # Set to false to disable the crafting recipe for solar2steam machines
    B:enableSolarSteam=true
    B:equalOpportunitiesForMobs=true

    # If false, notifications will be translated by the client
    B:serversideTranslate=true
    B:spreadWrathFire=true

    # Scale how much steam is produced by the solar boiler
    D:steamOutputAdjustment=1.0

    # If true, maximum clay lump volume is 1 m³ instead of (1 m³)/4
    B:stretchyClay=true

    # How many ticks the server will wait before sending out TPS reports. 20 ticks = 1 second.
    I:tpsReportInterval=20
}


