# allowUpdateCheck (boolean:true) -- Set to true to allow checking for updates for ALL of my mods, false to disable
# allowDebugOutput (boolean:false)
# 
# Thu Jun 27 13:49:33 CEST 2013
allowDebugOutput=false
allowUpdateCheck=true
checksum=1wk
