# allowUpdateCheck (boolean:true) -- Set to true to allow checking for updates for ALL of my mods, false to disable
# allowDebugOutput (boolean:false)
# 
# Mon Jun 24 13:09:09 CEST 2013
allowDebugOutput=false
allowUpdateCheck=true
checksum=1wk
