# Configuration file

####################
# block
####################

block {
    I:ArmorStand=1701
    I:Bookcase=1702
    I:GenericShelf=1703
    I:Lamp=1712
    I:Lantern=1713
    I:PotionShelf=1704
    I:PrintingPress=1709
    I:Table=1714
    I:TypeMachine=1710
    I:WeaponCase=1705
    I:WeaponRack=1706
    I:WoodenLabel=1707
    I:WritingDesk=1708
}


####################
# custom enchantments
####################

"custom enchantments" {
    I:ReadingEnchant=188
}


####################
# general
####################

general {
    # These are keywords that add additional support for more types of potions and items. Add more keyworks if you wish to allow more types of items to be displayed.
    S:AdditionalPotions=essence, mead, bottle, test, element, molecule, can, capsule, cell, catalyst, ambrosia, honey pot, dissipation, vial

    # These are the names of additional tools that can be added to the Tool Rack. Added keywords will allow additional items to be placed on this block.
    S:AdditionalTools=sprayer, wand, rod, scepter, wrench, screwdriver, meter, handsaw, gun, cutter, scoop, soldering, painter, reader, shovel, grafter, pickaxe, pipette, magnifying, sword, pan, axe, rapier, mattock

    # Should blank books be allowed on Bookcases? (true or false)
    B:AllowEmptyBooks=false

    # These are the keywords that are compared against the item names to determine if the item can be placed on a Bookcase. Add more keywords if needed.
    S:AllowedBooks=book, map, journal, plan, thaumonomicon, necronomicon, lexicon, print, notes, spell, library, tome, encyclopedia, tinker's

    # Is OptiFine installed? Change this to true if so and it will fix a rendering bug that casues items on shelves to render higher than they should.
    B:IsOptifineInstalled=false

    # Setting to true renders a shadow behind the text seen with the reading glasses. This can improve visability quite a bit, but sometimes doesn't render correctly. Try at your own discretion.
    B:RenderTextShadow=false
}


####################
# item
####################

item {
    I:Chase=17203
    I:EnchantedPlate=17207
    I:Plate=17204
    I:ReadingGlasses=17205
    I:RedstoneBook=17206
    I:TapeMeasure=17201
    I:TapeReel=17202
}


####################
# text colors
#===================
# This is were you can change the color of the text rendered on blocks when using the reading glasses. The value given is a combined RGB value. For ex. 16777215=white, 255=red, 65280=green, 16711680=blue, 16776960=aqua. A google search for these values can assit in finding a chart to show colors and codes.
####################

"text colors" {
    I:ReadingGlassesTextColor=16777215
}


